h1{
  font-family: sans-serif;
  font-size: 40px;
  color: #FFC300;
}
h2{
  font-family: sans-serif;
  font-size: 30px;
  color: #FF5733;
}
h3 {
  font-family: sans-serif;
  font-size: 20px;
  color: #581845;
}
ul {
  list-style-type: none;
}
p {
  color: darkgreen;
}
body {
  text-align: center;
  background-color: lightgreen;
}

a {
  text-decoration: none;
}
li {
  display: inline;
  padding: 15px;
}
